.hero__container._container {
  padding: 1px;
  position: relative;
}
.hero__section._section {
  padding-top: 165px;
  padding-bottom: 84px;
  @media screen and (max-width: 1020px) {
    padding-top: 145px;
  }
  @media screen and (max-width: 980px) {
    padding-top: 135px;
  }
  @media screen and (max-width: 767px) {
    padding-top: 84px;
  }
}

.slider__list {
  width: 400%;
  height: 100%;
  display: flex;
}

// .s1 {
//   animation-name: changeBgColor;
//   animation-duration: 30s;
//   animation-iteration-count: infinite;
//   animation-direction: alternate;
//   animation-timing-function: cubic-bezier(0.44, -0.07, 0.83, 0.67);
//   // transition-delay: 25s;

//   @keyframes changeBgColor {
//     0% {
//       margin-left: 0%;
//     }

//     25% {
//       margin-left: -25%;
//     }

//     75% {
//       margin-left: -50%;
//     }
//     100% {
//       margin-left: -75%;
//     }
//   }
// }
.s1:hover {
  animation-play-state: paused;
}

.slider__list .slider__item img {
  max-width: 100%;
  position: relative;
}
.slider {
  position: relative;
  overflow: hidden;
  height: auto;
}

.slider__item {
  position: relative;
  width: 25%;
  transition: all 500ms linear;
}

.slider__content {
  text-align: center;
  background-color: white;
  position: absolute;
  top: 0;
  left: 51px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 75px;
  max-width: 462px;

  &::before {
    content: "";
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $color_accent;
  }
}
// ===========================================
@media screen and (max-width: 1540) {
  .slider__content {
    padding: 50px 55px;
    max-width: 100px;
  }
}

.slider__title {
  font-size: 64px;
  line-height: 100%;
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 1540) {
    font-size: 164px;
  }
}
.slider__sub-title {
  font-size: 36px;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.slider__description {
  font-weight: 400;
  font-size: 36px;
  line-height: 125%;
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.slider__link {
  background: $color_accent;
  border-radius: 3px;
  padding: 14px 46px;
  font-size: 18px;
  text-transform: uppercase;
  color: $color_white;
  &:not(:last-child) {
    margin-bottom: 50px;
  }
  &:hover,
  &:focus {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  }
}

.slider__position {
  &:not(:last-child) {
    margin-bottom: 5px;
  }
}
.slider__active {
  font-size: 36px;
}
.slider__next {
  font-size: 24px;
}
.slider__container-btn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  gap: 8px;
}
.slider__btn-link {
  transition: $transition__stock;
  &:hover > .slider__icon {
    fill: $color_accent;
  }
}
.slider__icon {
  transition: $transition__stock;
  width: 30px;
  height: 30px;
}
